section(id="contact" class="page-section py-4")
  div(class="container")
    h2(class="page-section-heading text-center text-uppercase text-secondary mb-0") Contact Me
    //- Divider
    div(class="row justify-content-center py-5")
        div(class="col-md-7")
            div(class="custom-divider divider-dark")
                div(class="divider-line")
                i(class="fa fa-star fa-3x")
                div(class="divider-line")
    div(class="row")
      div(class="col-lg-8 mx-auto")
        form(id="contactForm")
          div(class="control-group")
            div(class="form-group floating-label-form-group controls mb-0 pb-2")
              label Name
              input(type="text" class="form-control" placeholder="Name" required="required" data-validation-required-message="Please, enter your name")
              p(class="help-block text-danger")
          div(class="control-group")
            div(class="form-group floating-label-form-group controls mb-0 pb-2")
              label Email Address
              input(type="email" class="form-control" placeholder="EMail Address" required="required" data-validation-required-message="Please, enter your email")
              p(class="help-block text-danger")
          div(class="control-group")
            div(class="form-group floating-label-form-group controls mb-0 pb-2")
              label Phone Number
              input(type="tel" class="form-control" placeholder="Phone Number" required="required" data-validation-required-message="Please, enter your phone number")
              p(class="help-block text-danger")
          div(class="control-group")
            div(class="form-group floating-label-form-group controls mb-0 pb-2")
              label Message
              textarea(id="message" class="form-control" rows="5" placeholder="Message" data-validation-required-message="Please, enter a message")
              p(class="help-block text-danger")
          br
          div(id="success")
          div(class="form-group")
            button(id="sendMessageBtn" class="btn btn-primary btn-xl" type="submit") Send

