//- includes/foot.pug
copyright#copyright
       
       div.copyright
           div.textcopyright(style='display: inline-block;')
            p Copyright © Your Website 2019
           div.textcopyright.scroll-to-top.d-lg-none.fixed-bottom(style='display: inline-block;')
               a.js-scroll-trigger.d-block.text-white.rounded.text-center(href='#page-top')
                  i.fa.fa-chevron-up                                                             