//- includes/foot.pug
footer(id="footer" class="footer")
       div(class="container")
        div(class="row")
            div(class="col-md-4 col-12")
                 p Location
                 | 2215 John Daniel Drive <br> Clark, MO 65243
            div(class="col-md-4 col-12")
                p Around the Web
                br
                a.btn.btn-outline-light.btn-social.mx-1(href='#')
                    i.fa.fa-facebook
                a.btn.btn-outline-light.btn-social.mx-1(href='#')
                    i.fa.fa-twitter
                a.btn.btn-outline-light.btn-social.mx-1(href='#')
                    i.fa.fa-linkedin
                a.btn.btn-outline-light.btn-social.mx-1(href='#')
                    i.fa.fa-dribbble
                 
            div(class="col-md-4 col-12")
                 p About Freelancer
                 p Freelance is a free to use, MIT licensed Bootstrap 
                   <br> theme created by 
                   a(href='http://startbootstrap.com' style="color:#1abc9c") Start <br> Bootstrap.