section(id="about" class="d-flex vh-100 bg-primary justify-content-center align-items-center")
    div(class="container")
        h1(class="text-white text-center") About

        //- Divider
        div(class="row justify-content-center py-5")
            div(class="col-md-7")
                div(class="custom-divider divider-light")
                    div(class="divider-line")
                    i(class="fa fa-star fa-3x")
                    div(class="divider-line")

        div(class="row")
            div(class="col-12 col-md-6 text-white") Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias quas aspernatur omnis, dolor quia a voluptate. Molestias asperiores, eligendi, saepe, nostrum molestiae mollitia nisi dolorum soluta consequatur voluptate ullam accusamus!
            div(class="col-12 col-md-6 text-white") Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere molestias dolore optio quas cumque quod quidem quasi! Laboriosam iusto atque dignissimos dolorum illo voluptate libero ipsam eum corrupti optio? Eius.
            div(class="row justify-content-center py-5")
                a(class="btn btn-outline-light btn-lg" href="#") 
                    i(class="fa fa-download mr-1")
                    | Free download
          