//- includes/foot.pug
footer#footer
       div.footer
        div.row
            .column
                 p Location
                 p.columnrow 2215 John Daniel Drive <br> Clark, MO 65243
            .column
                 p Around the Web
                  p.columnrow
                    a.btn.btn-outline-light.btn-social.mx-1(href='https://www.facebook.com/UV.UnitedVirtualities/')
                        i.fa.fa-facebook
                    a.btn.btn-outline-light.btn-social.mx-1(href='https://twitter.com/theuvexperience')
                        i.fa.fa-twitter
                    a.btn.btn-outline-light.btn-social.mx-1(href='https://www.linkedin.com/company/unitedvirtualities/')
                        i.fa.fa-linkedin
                    a.btn.btn-outline-light.btn-social.mx-1(href='#')
                        i.fa.fa-dribbble
                 
            .column
                 p About Freelancer
                 p.columnrow Freelance is a free to use, MIT licensed Bootstrap 
                   <br> theme created by 
                   a(href='http://startbootstrap.com' style="color:#1abc9c") Start <br> Bootstrap.