extends layout

block content
    include components/start
    include components/portafolio
    include components/about
    include components/contact
    include components/footer
    include components/copyright

  
 





